@{
    ViewData["Title"] = "Area riservata";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto nella tua area riservata</h1>
   <p>ciao <b>@ViewData["Username"].ToString() </b></p>
</div>
